.NERDTreeBookmarks

.Xauthority
.Xclients

.bash_history
.bash_logout
.bash_profile

.cache/

.gitconfig

.lesshst

.local/

.minecraft/

.mozilla/

.npm/

.pki/
.ssh/
.cred/

.steam/
.steampath
.steampid

.zhistory

Desktop/
Documents/
Downloads/
Pictures/
Videos/
git/
neo4j/


.config/BraveSoftware/Brave-Browser
.config/KDE
.config/PixelPiracy
.config/Postman
.config/Slack
.config/StardewValley
.config/Vanniktech
.config/autostart/org.moson.matray.desktop
.config/cef_user_data/WidevineCdm
.config/coc/extensions
.config/coc
.config/dconf
.config/discord
.config/falkon/profiles
.config/kde.org
.config/kdeconnect
.config/kdedefaults
.config/latte
.config/libaccounts-glib
.config/libreoffice/4/user
.config/manjaro
.config/matray

.config/pulse
.config/qtile/__pycache__
.config/session/dolphin_dolphin_dolphin
.config/swi-prolog/dir-history
.config/thefuck/__pycache__
.config/unity3d
.config/Trolltech.conf
.config/akregatorrc
.config/baloofilerc
.config/dolphinrc
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/kded_device_automounterrc
.config/kdeglobals
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kmenueditrc
.config/kmixrc
.config/knfsshare
.config/konsolerc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/lattedockrc
.config/manjaro-hello.json
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/sddmthemeinstallerrc
.config/spectaclerc
.config/trashrc
.kde4/share/config
.config/systemd/user
.config/draw.io
.config/lazygit
.config/mypaint
.config/TabNine
.config/gh
.config/nvim/plugin
.config/obs-studio
.node_repl_history

slack.nvim.log
htb
output
.npmrc
.profile
.config/nvim.old
.gnupg
.cargo
.rustup
.thunderbird
.azure/commands
.azure
.config/Cypress
.config/chromium
.config/libreoffice/4
.config/nextjs-nodejs
.config/wireshark
.android/adb.5037
.android
.config/ERWT Boilerplate
.config/LyX
.config/abiword
.config/cef_user_data/Dictionaries
.config/configstore
.config/create-next-app-nodejs
.config/firebase
.config/flameshot
.config/godot
.config/gummi
.config/menus/applications-merged
.config/obsidian
.config/octave
.config/session
.config/simple-update-notifier
.config/unityhub
.dotnet
.config/gscan2pdfrc
.config/kded5rc
.config/konsolesshconfig
.config/plasma-welcomerc
.docker
.gnome/apps
.grip/cache-4.6.1
.ionic
.lyx
.nuget/NuGet
My project
Unity/Hub/Editor/2022.3.4f1
docker
go/pkg
godot
.mysql_history
.psql_history
.pulse-cookie
.python_history
db.pass
octave-workspace
speedcc.fit
test.csv
test.http
.config/flameshot/flameshot.ini
.config/gtk-2.0
.config/QtProject.conf
.opam
.ocamlinit
2023-07-31_11-55.png
.config/Google
.config/ResponsivelyApp
.config/astro
.config/capacitor
.config/turso
.config/pavucontrol.ini
.googleearth
.java
.keras
go/bin
2023-08-21_10-52.png
.yarnrc
.ts_node_repl_history
