# Other shells
.bash_history
.histfile
.lesshst
.zcompdump*
.zshenv
.zsh_plugins
.zsh_sessions/
.zsh_history

# Mac Specific
.CFUserTextEncoding
.DS_STORE

# Generic Home Folders
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

# Other Folders
VirtualBox VMs/
Monero/
GNS3/
Wedge/
backups/
installers/
git/

.gtk*
.fehbg
.yarnrc
.NERDTreeBookmarks
.gitconfig
.profile
.viminfo


.icons/
.local/
.cache/
.pki/
.ssh/
.npm/
.cargo/
.bitmonero/
.android/
.shared-ringdb/
.zcompcache/
.grip/
.links/
.cups/
.rustup/

.config/mimeapps.list
.config/BraveSoftware/
.config/dconf/
.config/coc/
.config/TabNine/
.config/xmrig.json
.config/dmenu/
.config/neofetch/
