[Desktop Entry]
Name=URI-vrmonitor
Comment=URI handler for vrmonitor://
Exec="/home/alex/.local/share/Steam/steamapps/common/SteamVR/bin/linux64/../vrmonitor.sh" %U
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/vrmonitor
	OnlyShowIn=Old;
